html,
body {
  background-color: #f8f8f8;
}
/*loading*/
#loader {
  font-size: .26rem;
  text-align: center;
  line-height: .4rem;
  color: #333333;
}
#loader .calendar div {
  position: absolute;
  top: 3.15rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.48rem;
  height: 3.33rem;
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  transform-origin: top center;
  -webkit-transform-origin: top center;
}
#loader .calendar div.act {
  transform: rotateX(270deg);
}
#loader .calendar div:nth-child(1) {
  background: url("../images/calendar_1.png") center no-repeat;
  background-size: cover;
  z-index: 20;
}
#loader .calendar div:nth-child(2) {
  background: url("../images/calendar_2.png") center no-repeat;
  background-size: cover;
  z-index: 19;
}
#loader .calendar div:nth-child(3) {
  background: url("../images/calendar_3.png") center no-repeat;
  background-size: cover;
  z-index: 18;
}
#loader .calendar div:nth-child(4) {
  background: url("../images/calendar_4.png") center no-repeat;
  background-size: cover;
  z-index: 17;
}
#loader .calendar div:nth-child(5) {
  background: url("../images/calendar_5.png") center no-repeat;
  background-size: cover;
  z-index: 16;
}
#loader .calendar div:nth-child(6) {
  background: url("../images/calendar_6.png") center no-repeat;
  background-size: cover;
  z-index: 15;
}
#loader .calendar div:nth-child(7) {
  background: url("../images/calendar_7.png") center no-repeat;
  background-size: cover;
  z-index: 14;
}
#loader .calendar div:nth-child(8) {
  background: url("../images/calendar_8.png") center no-repeat;
  background-size: cover;
  z-index: 13;
}
#loader .calendar div:nth-child(9) {
  background: url("../images/calendar_9.png") center no-repeat;
  background-size: cover;
  z-index: 12;
}
#loader .calendar div:nth-child(10) {
  background: url("../images/calendar_10.png") center no-repeat;
  background-size: cover;
  z-index: 11;
}
#loader .calendar div:nth-child(11) {
  background: url("../images/calendar_11.png") center no-repeat;
  background-size: cover;
  z-index: 10;
}
#loader .calendar div:nth-child(12) {
  background: url("../images/calendar_12.png") center no-repeat;
  background-size: cover;
  z-index: 9;
}
#loader p {
  position: absolute;
  top: 6.8rem;
  left: 0;
  right: 0;
  margin: auto;
}
#loader > p:last-child {
  top: 7.2rem;
}
/*装饰*/
section.otherBox {
  display: none;
}
section.otherBox div {
  position: absolute;
}
section.otherBox div:nth-child(1) {
  top: 0rem;
  left: 0rem;
  width: 1.07rem;
  height: .8rem;
  background: url("../images/sun.png") center no-repeat;
  background-size: cover;
  z-index: 50;
}
section.otherBox div:nth-child(2) {
  top: .11rem;
  right: 1.73rem;
  width: 1.53rem;
  height: .91rem;
  background: url("../images/yun_1.png") center no-repeat;
  background-size: cover;
}
section.otherBox div:nth-child(3) {
  top: 4.03rem;
  left: 0;
  width: .6rem;
  height: .53rem;
  background: url("../images/yun_2.png") center no-repeat;
  background-size: cover;
}
section.otherBox div:nth-child(4) {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.41rem;
  height: 4.35rem;
  background: url("../images/heliu.png") center no-repeat;
  background-size: cover;
}
section.otherBox div:nth-child(4).act {
  width: 7.5rem;
  height: 3.03rem;
  background: url("../images/heliu_1.png") center no-repeat;
  background-size: cover;
}
/*首页*/
section.firPage {
  display: none;
  position: absolute;
  top: 1.13rem;
  right: 0;
}
section.firPage div:nth-child(1) {
  width: 7.06rem;
  height: 9.72rem;
  background: url("../images/firPage.png") center no-repeat;
  background-size: cover;
}
section.firPage div:nth-child(2) {
  margin: -0.3rem 0 0 1.3rem;
  width: 4.45rem;
  height: 1.48rem;
  background: url("../images/firPageBtn.png") center no-repeat;
  background-size: cover;
}
/*引导浮层*/
section.guide {
  display: none;
  position: fixed;
  width: 2.4rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}
section.guide > div {
  position: relative;
  top: 4.13rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.25rem;
  height: 2.85rem;
  background: url("../images/up.png") center no-repeat;
  background-size: cover;
}
section.guide > div p {
  position: absolute;
  top: -1.4rem;
  left: -0.575rem;
  width: 2.4rem;
  font-size: .4rem;
  line-height: .6rem;
  text-align: center;
  color: #ffffff;
}
section.guide > div div {
  position: absolute;
  top: 2.2rem;
  width: 4.4rem;
  height: 5.42rem;
  background: url("../images/shou.png") center no-repeat;
  background-size: cover;
}
/*账单部分*/
main {
  display: none;
  position: fixed;
  top: 1.27rem;
  right: 0;
  width: 7.22rem;
  height: 10.57rem;
  background: url("../images/zhangdanBg.png") center no-repeat;
  background-size: cover;
}
main > div div {
  top: .06rem;
  left: .14rem;
  position: absolute;
  width: 6.58rem;
  height: 9rem;
  transition: transform 1s linear;
  -webkit-transition: transform 1s linear;
  transform-origin: top center;
  -webkit-transform-origin: top center;
}
main > div div p:nth-child(1) {
  position: absolute;
  left: .54rem;
  bottom: 2.7rem;
  font-size: .39rem;
  color: #ffb24f;
}
main > div div p:nth-child(1) span:nth-child(1) {
  display: inline-block;
  width: .62rem;
  height: .54rem;
  font-size: .5rem;
  line-height: .54rem;
  color: #ffffff;
  background-color: #ffb24f;
}
main > div div p:nth-child(2) {
  position: absolute;
  left: .54rem;
  bottom: .35rem;
  font-size: .26rem;
  color: #666666;
}
main > div div p:nth-child(2) span {
  color: #779cf4;
}
main > div div:nth-child(1) {
  background: url("../images/page_1.png") center no-repeat;
  background-size: cover;
  z-index: 10;
}
main > div div:nth-child(2) {
  background: url("../images/page_2.png") center no-repeat;
  background-size: cover;
  z-index: 9;
}
main > div div:nth-child(3) {
  background: url("../images/page_3.png") center no-repeat;
  background-size: cover;
  z-index: 8;
}
main > div div:nth-child(4) {
  background: url("../images/page_4.png") center no-repeat;
  background-size: cover;
  z-index: 7;
}
main > div div:nth-child(5) {
  background: url("../images/page_5.png") center no-repeat;
  background-size: cover;
  z-index: 6;
}
main > div div.tree {
  top: 8.5rem;
  left: 5.3rem;
  right: 0;
  width: 1.36rem;
  height: 1.84rem;
  background: url("../images/tree.png") center no-repeat;
  background-size: cover;
  z-index: 20;
}
main > div div:last-child {
  top: -0.23rem;
  left: .6rem;
  width: 5.98rem;
  height: .7rem;
  background: url("../images/taili.png") center no-repeat;
  background-size: cover;
  z-index: 10;
}
/*最后结果页*/
footer > div {
  display: none;
  position: absolute;
  top: 1.13rem;
  right: 0;
}
footer > div > div {
  width: 7.27rem;
  height: 9.72rem;
}
footer > div span {
  position: absolute;
  bottom: -1rem;
  width: 3.14rem;
  height: 1.2rem;
  background: url("../images/ljBtn.png") center no-repeat;
  background-size: cover;
}
footer > div i {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.1rem;
  margin: auto;
  width: 1.05rem;
  height: .26rem;
  background: url("../images/hdsm.png") center no-repeat;
  background-size: cover;
}
footer > div:nth-child(1) > div {
  background: url("../images/newPage.png") center no-repeat;
  background-size: cover;
}
footer > div:nth-child(1) span {
  left: 2rem;
}
footer > div:nth-child(2) > div {
  background: url("../images/oldPage.png") center no-repeat;
  background-size: cover;
}
footer > div:nth-child(2) span:nth-child(2) {
  left: .4rem;
  background: url("../images/lookBtn.png") center no-repeat;
  background-size: cover;
}
footer > div:nth-child(2) span:nth-child(3) {
  left: 3.8rem;
}
/*活动说明弹窗*/
#tc_sm {
  display: none;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.63rem;
  z-index: 500;
}
#tc_sm div:nth-child(1) {
  position: relative;
  width: 5.63rem;
  height: .9rem;
  background: url("../images/tcTitle_1.png") center no-repeat;
  background-size: cover;
}
#tc_sm div:nth-child(1) span {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: .4rem;
  height: .4rem;
  background: url("../images/close.png") center no-repeat;
  background-size: cover;
}
#tc_sm div:nth-child(2) {
  box-sizing: border-box;
  padding: .25rem .3rem;
  width: 5.63rem;
  height: 7.42rem;
  border-radius: 0 0 .1rem .1rem;
  background-color: #ffffff;
}
#tc_sm div:nth-child(2) ul {
  overflow: scroll;
  height: 6.8rem;
}
#tc_sm div:nth-child(2) ul li {
  font-size: .22rem;
  text-align: justify;
  line-height: .4rem;
  color: #333333;
}
#tc_sm div:nth-child(2) ul li span {
  font-weight: bold;
}
/*领奖弹窗*/
#tc_lj {
  display: none;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 5.63rem;
  z-index: 500;
}
#tc_lj div:nth-child(1) {
  position: relative;
  width: 5.63rem;
  height: 2.41rem;
  background: url("../images/tcTitle_2.png") center no-repeat;
  background-size: cover;
}
#tc_lj div:nth-child(1) span {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  width: .4rem;
  height: .4rem;
  background: url("../images/close.png") center no-repeat;
  background-size: cover;
}
#tc_lj div:nth-child(2) {
  position: relative;
  box-sizing: border-box;
  padding: .55rem .3rem;
  width: 5.63rem;
  height: 3.75rem;
  border-radius: 0 0 .1rem .1rem;
  background-color: #ffffff;
}
#tc_lj div:nth-child(2) p {
  font-size: .28rem;
  text-align: center;
  line-height: .5rem;
  color: #333333;
}
#tc_lj div:nth-child(2) div {
  position: absolute;
  bottom: .34rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4.77rem;
  height: .77rem;
  background: url("../images/fxBtn.png") center no-repeat;
  background-size: cover;
}
/*分享浮层*/
#tc_fx {
  display: none;
  position: fixed;
  top: .22rem;
  right: .4rem;
  width: 4.81rem;
  height: 4.36rem;
  background: url("../images/fxBg.png") center no-repeat;
  background-size: cover;
  z-index: 500;
}
/*遮罩层*/
.mask {
  position: absolute;
  top: 0px;
  background-color: #000;
  z-index: 100;
  left: 0px;
  opacity: 0.8;
}
